<!-- Defines element markup -->
<template id="youtube-video">
    <style>
        .youtube {
            background-color: #000;
            position: relative;
            padding-top: 56.25%;
            overflow: hidden;
            cursor: pointer;
            border-radius: 12pt;
            overflow: clip;
        }

        .youtube img {
            width: 100%;
            top: -16.82%;
            left: 0;
            opacity: 0.7;
        }

        .youtube .play-button {
            width: 90px;
            height: 60px;
            background-color: #333;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
            z-index: 1;
            opacity: 0.8;
            border-radius: 6px;
        }

        .youtube .play-button:before {
            content: "";
            border-style: solid;
            border-width: 15px 0 15px 26.0px;
            border-color: transparent transparent transparent #fff;
        }

        .youtube img,
        .youtube .play-button {
            cursor: pointer;
        }

        dialog {
            width: 80%;
            height: auto;
            max-width: 600pt;
            aspect-ratio: 5/3;
            border: none;

        }

        dialog::backdrop {
            background-color: #000000aa;

        }

        dialog iframe {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
        }

        .youtube img,
        .youtube .play-button,
        .youtube .play-button:before {
            position: absolute;
        }

        .youtube .play-button,
        .youtube .play-button:before {
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
        }

        .youtube .title {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
            background-color: #333;
            opacity: 0.8;
            color: white;
            padding-top: 12pt;
            padding-bottom: 12pt;
            padding-right: 12pt;
            padding-left: 18pt;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-width: 80%;
            border-radius: 30pt 0 0 0;
        }
    </style>
    <div class="youtube">
        <div class="play-button"></div>
        <div class="title"></div>
    </div>
    <dialog>
        <iframe frameborder="0" allowfullscreen="">
        </iframe>
    </dialog>
</template>

<script>
    class VideoMeta {
        /** @type string **/
        thumbnailUrl

        /** @type string **/
        description

        constructor(thumbnailUrl, description) {
            this.thumbnailUrl = thumbnailUrl
            this.description = description
        }
    }

    customElements.define(
        "youtube-video",
        class extends HTMLElement {
            constructor() {
                super();
                let template = document.getElementById("youtube-video");
                let templateContent = template.content;

                const shadowRoot = this.attachShadow({ mode: "open" });
                shadowRoot.appendChild(templateContent.cloneNode(true));
                this._internals = this.attachInternals();
            }

            /** @return VideoMeta **/
            async getDetails(embedId) {
                console.log(`Get details for ${embedId}`)
                const jsonResponse = await fetch(`https://www.googleapis.com/youtube/v3/videos?part=snippet%2CcontentDetails&id=${embedId}&key=${this.apiKey}`);
                const response = await jsonResponse.json()
                const movie = response.items[0];
                return new VideoMeta(
                    movie.snippet.thumbnails.standard?.url ?? movie.snippet.thumbnails.medium?.url ?? movie.snippet.thumbnails.default?.url,
                    movie.snippet.title,
                )
            }

            /**
             * @param {Element} videoElem
             * @param {VideoMeta} videoDetails
             **/
            updateThumbnail(videoElem, videoDetails) {
                const image = new Image();

                image.src = videoDetails.thumbnailUrl;
                image.alt = videoDetails.description;

                image.addEventListener("load", function () {
                    videoElem.appendChild(image);
                });
            }

            /**
             * @param {Element} videoElem
             * @param {VideoMeta} videoDetails
             **/
            updateTitle(videoDetails) {
                const titleElem = this._internals.shadowRoot.querySelector(".youtube .title");
                titleElem.innerHTML = videoDetails.description

                const iframeElem = this._internals.shadowRoot.querySelector("dialog iframe");
                iframeElem.contentDocument.title = videoDetails.description
            }

            hidePlayerDialog(dialog, youtubeIframe) {
                dialog.close();
                youtubeIframe.setAttribute("src", "")
            }

            setupAndShowPlayerDialog(embedId) {
                const that = this
                const dialog = this._internals.shadowRoot.querySelector("dialog");

                const youtubeIframe = dialog.querySelector("iframe")
                youtubeIframe.setAttribute("src", "https://www.youtube.com/embed/" + embedId + "?rel=0&showinfo=0&autoplay=1");
                dialog.showModal();
                dialog.addEventListener("click", function (event) {
                    const rect = dialog.getBoundingClientRect();
                    const isInDialog = (rect.top <= event.clientY && event.clientY <= rect.top + rect.height
                        && rect.left <= event.clientX && event.clientX <= rect.left + rect.width);
                    if (!isInDialog) {
                        that.hidePlayerDialog(dialog, youtubeIframe)
                    }
                });
            }

            connectedCallback() {
                const that = this
                const embedId = this.getAttribute("embed");
                this.apiKey = this.getAttribute("apiKey");
                const videoElem = this._internals.shadowRoot.querySelector(".youtube");


                this.getDetails(embedId).then((videoDetails) => {
                    console.log(JSON.stringify(videoDetails))
                    this.updateThumbnail(videoElem, videoDetails)
                    this.updateTitle(videoDetails)
                })


                videoElem.addEventListener("click", function () {
                    that.setupAndShowPlayerDialog(embedId)
                });
            }

            disconnectedCallback() {
                console.log("Custom element removed from page.");
            }

            adoptedCallback() {
                console.log("Custom element moved to new page.");
            }
        }

    );
</script>