<footer>
    <div id="footer-call-to-action">
        <div class="content">
            <h4>Straight to the <strong>tools</strong></h4>
            <p>You know what you need ? No time to waste...<br />
                Access directly our toolkit right here !</p>
            <input type="button" value="Enjoy the kit !">
        </div>
    </div>
    <div id="footer-legals-and-pages">
        <div class="content">
            <div id="footer-partners">
                <div class="footer-partner">
                    <img src="assets/img/logo_fundit.png" alt="Logo FundIt" />
                </div>

                <div class="footer-partner">
                    <img src="assets/img/europe_flag.svg" alt="Europe flag" />
                    <span>Co-funded by<br />the European Union</span>
                </div>
            </div>
            <nav id="footer-navigation">
                <h4>Pages</h4>
                <ul>
                    <!-- TODO : iterate over real pages -->
                    <li>Our tookit</li>
                    <li>Case studies</li>
                    <li>Our research</li>
                    <li>What is Fund-It</li>
                </ul>
            </nav>
            <div id="footer-social-networks">
                <h4>Follow us</h4>
                <ul>
                    <!-- TODO : Iterate over settings to get social URLs -->
                    <li><a href="" target="_blank"><img src="assets/img/facebook_outlined.svg"
                                alt="Facebook logo" /></a>
                    </li>
                    <li><a href="" target="_blank"><img src="assets/img/youtube_outlined.svg" alt="Youtube logo" /></a>
                    </li>
                    <li><a href="" target="_blank"><img src="assets/img/instagram_outlined.svg"
                                alt="Instagram logo" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</footer>