<footer>
    <div id="footer-call-to-action">
        <svg width="0" height="0">
            <defs>
                <clipPath id="footer-call-to-action-clip-path-relative" clipPathUnits="objectBoundingBox">
                    <path d="M1 1H0V0.18C0.177 -0.414 0.66 0.71 1 0.18V1Z" />
                </clipPath>
                <clipPath id="footer-call-to-action-clip-path-absolute">
                    <path d="M1440 350H0V63.8709C254.693 -145.407 951.836 242.076 1440 63.8709V350Z" />
                </clipPath>
            </defs>
        </svg>
        <div class="content">
            <h4>{{ site.data.footer.title }}</h4>
            <p>{{ site.data.footer.body }}</p>
            <a class="text-link-negative" href="/toolkit">Enjoy the kit !</a>
        </div>
    </div>
    <div id="footer-legals-and-pages">
        <div class="content">
            <div id="footer-partners">
                {% for partner in site.data.partners %}
                <div class="footer-partner">
                    <img src="{{ partner.image.url }}" alt="{{ partner.image.description }}" />
                    {% if partner.description %}
                    <span>{{ partner.description }}</span>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <nav id="footer-navigation">
                <h4>Pages</h4>
                <ul>
                    {%- for site_page in site.pages -%}
                    {%- if site_page.url != "/" -%}
                    {%- if site_page.title -%}
                    <li><a class="navigation-link page-link {% if page.path == site_page.path %}current{% endif %}"
                            href="{% if page.path == site_page.path %}#{% else %}{{ site_page.url | relative_url }}{% endif %}">{{
                            site_page.title | escape }}</a></li>
                    {%- endif -%}
                    {%- endif -%}
                    {%- endfor -%}
                </ul>
            </nav>
            <div id="footer-social-networks">
                <h4>Follow us</h4>
                <ul>
                    {% for social_network in site.data.social_networks %}
                    <li><a href="{{social_network.url}}" target="_blank"><img src="{{social_network.image.url}}"
                                alt="{{ social_network.image.description }}" /></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

</footer>