<footer>
    <div id="footer_call_to_action">
        <h4>Straight to the <strong>tools</strong></h4>
        <p>You know what you need ? No time to waste...
            Access directly our toolkit right here !</p>
        <input type="button" value="Enjoy the kit !">
    </div>
    <div id="footer_legals_and_pages">
        <div id="footer_partners">
            <div class="footer_partner">
                <img src="assets/img/logo_fundit.png" alt="Logo FundIt" />
            </div>

            <div class="footer_partner">
                <img src="assets/img/europe_flag.svg" alt="Europe flag" />
                <span>Co-funded by
                    the European Union</span>
            </div>
        </div>
        <nav id="footer_navigation">
            <h4>Pages</h4>
            <li>
                <!-- TODO : iterate over real pages -->
                <ul>Our tookit</ul>
                <ul>Case studies</ul>
                <ul>Our research</ul>
                <ul>What is Fund-It</ul>
            </li>
        </nav>
        <div id="footer_social_networks">
            <h4>Follow us</h4>
            <li>
                <!-- TODO : Iterate over settings to get social URLs -->
                <ul><input type="button"><img src="assets/img/facebook_outlined.svg" alt="Facebook logo" /></input></ul>
                <ul><input type="button"><img src="assets/img/youtube_outlined.svg" alt="Youtube logo" /></input></ul>
                <ul><input type="button"><img src="assets/img/instagram_outlined.svg" alt="Instagram logo" /></input>
                </ul>
            </li>
        </div>
    </div>

</footer>