<header class="width--wide">
    <div class="logo">
        <a href="/">{%- picture /assets/global/img/logo_fundit.png --alt 'Logo FundIt' -%}</a>
    </div>

    <input type="checkbox" id="menu-toggle" class="menu-toggle">
    <label class="menu-button-container" for="menu-toggle">
        <div class="menu-button"></div>
    </label>
    <ul class="menu">
        {%- for site_page in site.pages -%}
        {%- if site_page.hide != true -%}
        {%- if site_page.url != "/" -%}
        {%- if site_page.title -%}
        <li><a class="navigation-link page-link {% if page.path == site_page.path %}current{% endif %}"
                href="{% if page.path == site_page.path %}#{% else %}{{ site_page.url | relative_url }}{% endif %}">{{
                site_page.title | escape }}</a></li>
        {%- endif -%}
        {%- endif -%}
        {%- endif -%}
        {%- endfor -%}
        <li><a class="page-link--outlined" href="/profile">My profile</a></li>
    </ul>
</header>