.about__content
    display: flex
    gap: 12pt

    @media screen and (max-width: $breakpoint-small)
        flex-flow: column

    .gallery
        display: flex
        flex-wrap: wrap
        gap: 12pt
        justify-content: center
        img
            object-fit: cover
            aspect-ratio: 1 / 1
            min-width: 100pt
            max-width: 200pt
            @media screen and (max-width: $breakpoint-small)
                max-width: 100pt

    // p
    //     min-height: 120pt
    //     img
    //         width: 100pt
    //         margin: 0 12pt

    // p:nth-of-type(even)
    //     img
    //         float: left

    // p:nth-of-type(odd)
    //     img
    //         float: left
