@import "colors"
@import "fonts"

body
    background-color: $background-color
    color: $text-color
    font: 400 $font-inter
    margin: 0

h1
    font: 300 $font-size-huge $font-clash
    strong
        font: 700 $font-size-huge $font-clash

p
    font: 500 $font-size-regular $font-inter

footer
    #footer-call-to-action
        background-color: $primary-color
        color: $on-primary-color
        padding: 25pt 0 40pt 0

        p
            font: 400 $font-size-regular $font-inter

        h4
            font: 400 $font-size-big $font-clash
            strong
                font: 700 $font-size-big $font-clash

    #footer-legals-and-pages
        background-color: $background-dark-color
        color: $on-primary-color

        .content
            display: flex
            flex-flow: row
            gap: 40pt
            font: 400 $font-size-xxsmall $font-other
            padding: 25pt 0 25pt 0

            h4
                font: 700 $font-size-small $font-other

            #footer-partners
                flex-grow: 1
                display: flex
                flex-flow: column
                justify-content: center
                gap: 24pt

                .footer-partner
                    display: flex
                    flex-flow: row
                    justify-content: left
                    align-items: center
                    gap: 5pt
                    font: 500 $font-size-xxsmall $font-other

            #footer-navigation
                ul
                    padding: 0
                    gap: 5pt
                    display: flex
                    flex-flow: column
                    li
                        list-style: none

            #footer-social-networks
                ul
                    padding: 0
                    display: flex
                    flex-flow: row
                    li
                        list-style: none
