@import "colors"
@import "fonts"

body
    background-color: $background-color
    color: $text-color
    font: 400 $font-inter

h1
    font: 300 $font-size-huge $font-clash
    strong
        font: 700 $font-size-huge $font-clash

p
    font: 500 $font-size-regular $font-inter
