@import "breakpoints"

header
    display: flex
    flex-flow: row
    padding-top: 14pt
    padding-bottom: 14pt

    .logo
        flex-grow: 1
        img
            height: 45pt
            width: auto

@keyframes slide-in
    0%
        transform: translateY(-10px)
        opacity: 0

    100%
        transform: translateY(0)
        opacity: 1

@keyframes slide-out
    0%
        transform: translateY(0px)
        opacity: 0

    100%
        transform: translateY(-10px)
        opacity: 1

@media screen and (max-width: $breakpoint-small)
    label[for="nav-trigger"]
        padding: 16pt
        position: relative
        right: -16pt
            // align-content: center

    .site-nav
        position: absolute
        top: 55pt
        left: 0
        right: 0

        .trigger
            background-color: $card-color
            border-top: 5pt solid $text-color
            font: 400 $font-size-regular $font-inter
            padding: 12pt 0
            box-shadow: 0pt 8pt 12pt

        input:checked
            ~
                .trigger
                    display: flex
                    flex-flow: column
                    justify-content: right
                    gap: 0
                    animation: slide-in 0.3s both
        input
            ~
                .trigger
                    display: none
                    animation: slide-out 0.3s both

@media screen and (min-width: $breakpoint-small)
    label[for="nav-trigger"]
        display: none
    .site-nav

        .trigger
            background-color: transparent
            font: 400 $font-size-small $font-inter

.nav-trigger
    display: none

.site-nav
    z-index: 2
    .trigger
        display: flex
        flex-flow: row
        gap: 8pt
        list-style: none

        .page-link
            color: black

        .page-link.current
            font-weight: 700

        @media screen and (max-width: $breakpoint-small)
            .page-link
                width: 100%
                padding: 8pt 12pt

        @media screen and (max-width: $breakpoint-small)
            .page-link--outlined
                width: 100%
                color: black

        @media screen and (min-width: $breakpoint-small)
            .page-link--outlined
                color: white
                background-color: $text-color
                text-decoration: none
                display: block
                border: 0
                border-radius: 20pt
                text-align: center
                padding: 6pt 12pt
                opacity: 1
                margin-top: 2pt
                margin-bottom: 2pt
