section
    .content
        padding: 45pt 0 50pt 0

#part-1
    .content
        padding-top: 10pt

#part-2
    color: $on-primary-color
    background-color: $primary-color

    .header
        position: relative
        top: -40px
        circle
            stroke: none
            fill: $text-color

    h2
        font: 600 $font-size-big $font-clash
        text-align: center
        margin: 0 0 45pt 0

    .items
        overflow-x: scroll
        overflow-y: hidden
        display: flex
        gap: 10pt
        align-items: center
        justify-content: center
        flex-direction: column

    @media screen and (min-width: $breakpoint-small)
        .items
            flex-direction: row

    @media screen and (max-width: $breakpoint-medium)
        .items
            justify-content: normal

    .item
        background-color: $card-color
        width: 197pt
        min-width: 197pt
        border: 2pt solid $card-border-color
        border-radius: 12pt
        overflow: clip

        img
            object-fit: cover
            width: 100%
            height: 56%

        h3
            font: 600 $font-size-big $font-clash
            text-align: center
            color: $text-color

        p
            font: 400 $font-size-xsmall $font-inter
            color: $text-color-light
            padding: 0pt 7pt 20pt 7pt
            text-align: justify

#part-3
    h2
        font: 600 $font-size-big $font-clash
    .content
        max-width: 550pt

    #part-3-content
        display: flex
        flex-flow: row
        gap: 10%

        img
            width: 40%
            max-width: 200pt
            aspect-ratio: 1/1
            object-fit: cover
            border-radius: 12pt
            flex-shrink: 0
            margin-bottom: auto

        .testimony
            color: $text-color-light
            h3
                font: 900 $font-size-regular $font-inter
                margin-top: 0
            p
                font: 900 $font-size-xsmall $font-inter
            .caption
                margin: 0 0 20pt 0
                font: 400 $font-size-xsmall $font-inter
