/** Responsive Width **/
@mixin width()
    margin: auto
    position: relative
    padding-left: 80px
    padding-right: 80px
    @media screen and (max-width: $breakpoint-medium)
        padding-left: 40px
        padding-right: 40px
    @media screen and (max-width: $breakpoint-small)
        padding-left: 15px
        padding-right: 15px

.width--wide
    @include width
    max-width: 1080px

.width--narrow
    @include width
    max-width: 550pt

/** Page contents **/
.page__top-content
    padding-top: 10pt

.page__bottom-content
    padding-bottom: 45pt

/** Vertical paddings **/
.vertical-padding--standard
    padding-top: 45pt
    padding-bottom: 45pt

/** Layout two columns **/
.layout-two-columns
    display: flex
    flex-flow: row
    gap: 10%

    .layout-two-columns__left
        width: 40%
        max-width: 200pt
        flex-shrink: 0
        margin-bottom: auto

    .layout-two-columns__right
        color: $text-color-light
        p
            font: 500 $font-size-regular $font-inter
            margin-top: 0
        .caption
            margin: 0 0 20pt 0
            font: 400 $font-size-small $font-inter

/** Flex **/
@mixin flex()
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    row-gap: 25pt
    column-gap: 25pt

.flex--space-between
    @include flex
    justify-content: space-between

.flex--space_evenly
    @include flex
    justify-content: space-evenly

.flex--start
    @include flex
    justify-content: start

@mixin column-item()
    max-width: 300pt
    width: 100%
    flex: 1

.flex__item
    @include column-item
    min-width: 250pt

.flex__item--small
    @include column-item
    min-width: 200pt

.flex__wrap
    display: flex
    flex-wrap: wrap
    gap: 12pt
    flex-flow: row
    @media screen and (max-width: $breakpoint-medium)
        flex-flow: column

/** Columns **/
@mixin columns()
    display: grid
    row-gap: 25pt
    column-gap: 25pt
    grid-template-columns: 1fr 1fr 1fr
    @media screen and (max-width: $breakpoint-medium)
        grid-template-columns: 1fr 1fr
    @media screen and (max-width: $breakpoint-small)
        grid-template-columns: 1fr

.columns--start
    @include columns
    justify-content: start

.columns--center
    @include columns
    .column__item
        justify-self: center

@mixin column-item()
    width: 100%

.column__item
    @include column-item
    min-width: 250pt

.column__item--small
    @include column-item
    min-width: 200pt
