.navigation-link
    text-decoration: none
    display: inline-block
    border-radius: 4pt
    padding: 8pt 12pt
    cursor: pointer

.navigation-link:hover
    background: #eee

@mixin text-link ()
    text-decoration: none
    display: inline-block
    border: 0
    border-radius: 20pt
    text-align: center
    padding: 6pt 12pt
    font: 700 $font-size-regular $font-clash

.text-link
    @include text-link
    background-color: $primary-color
    color: $on-primary-color

.text-link--negative
    @include text-link
    background-color: $on-primary-color
    color: $primary-color
